<% if current_user %>
  <p><h1><%= @item.title %></h1>
  <h2><%="$#{@item.price.to_f/100}"%>
  <%=  button_to 'Add to Cart', line_items_path(item_id: @item) %></p>
<% else %>
  <p><h1><%= @item.title %></h1>
  <h2><%="$#{@item.price.to_f/100}"%></h2></p>
<% end %>
